html {
    font-family: Arial;
    font-size: 16px;
}
body {
    line-height: 1.4em;
    color: white;
}
a {
    color: white;
}
hr{
    margin-left: 10vw;
    margin-right: 10vw;
    border-style: solid;
    background-color: white;
    border-width: 1px;
}
#smol{
    margin-left: 25vw;
    margin-right: 25vw;
}
 /*#accordion {*/
     /*background-color: #eee;*/
     /*width:100vw;*/
     /*padding:1em;*/
     /*position: absolute;*/
     /*top: 100vh;*/
 /*}*/
#accordion div {
    font-size:1.2em;
    line-height: 1.2em;
    display:none;
    margin-bottom: 2em;

}
#map {
    height: 100vh;
}
#info{
margin-top: 20%;
}
.bottemlogo,#upload {
    overflow-y: auto;
    transition: opacity .5s;
    box-sizing: border-box;
    position: absolute;
    background-image: url("../img/shapes/two.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    bottom: 0;
    width: 100vw;
    z-index: 102;
    text-align: center;
    font-size: 24px;

}
#one{
    height: 20vh;
    transition: height 2s;
}
#two{
    height: 90vh;
    transition: height 2s;
}
#routes_off{
    transition: height 2s;
}
 .marker {
     display: block;
     cursor: pointer;
     background-image: url(../img/marker.svg); /* should be 20px by 20px, important for offset!! */
     background-size: contain;
     width:20px;
     height:20px;
 }
 #wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
 }
#chosenroute{
    display: none;
}
.menuitem{
    margin-top: 6vh;
}
#file-input{
    margin: 0 auto;
 }